{% load static %}


        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">

    <body>
        <div class="info_block">
        </div>
        <div class="info_block">
            <div class="info_block">
                <div class="info_block">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
