<html>
<head>
﻿{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

</head>
<body>
{% for i in latest_review_list %}
    <table class="info_block">
    <tr>
      <td>{{ i.pub_date }}</td>
      <td>О докторе: </td>
      <td>{{ i.doctor.first_name }}</td>
      <td>{{ i.doctor.two_name }}</td>
      <td> - </td>

      <td>{{ i.edit_review_text | safe }}</td>
    </tr>
     <tr>
    <td>Написал\a: </td>
    <td>{{ i.user.username }}</td>
    </tr>
    </table>
{% endfor %}
</body>
</html>